html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe a tela toda */
}

main {
    flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

footer {
    background-color: #343a40; /* cinza escuro */
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin: 0px;
}

